body {
  background: #0078d7;
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
}

.loader {
  width: 50px;
  height: 50px;
  margin: auto;
}
.loader .circle {
  position: absolute;
  width: 50px;
  height: 50px;
  opacity: 0;
  transform: rotate(225deg);
  animation-iteration-count: infinite;
  animation-name: orbit;
  animation-duration: 5.5s;
}
.loader .circle:after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background: #fff;
}
.loader .circle:nth-child(2) {
  animation-delay: 240ms;
}
.loader .circle:nth-child(3) {
  animation-delay: 480ms;
}
.loader .circle:nth-child(4) {
  animation-delay: 720ms;
}
.loader .circle:nth-child(5) {
  animation-delay: 960ms;
}
.loader .bg {
  position: absolute;
  width: 70px;
  height: 70px;
  margin-left: -16px;
  margin-top: -16px;
  border-radius: 13px;
  background-color: #0078d7;
}
@keyframes orbit {
  0% {
    transform: rotate(225deg);
    opacity: 1;
    animation-timing-function: ease-out;
  }
  7% {
    transform: rotate(345deg);
    animation-timing-function: linear;
  }
  30% {
    transform: rotate(455deg);
    animation-timing-function: ease-in-out;
  }
  39% {
    transform: rotate(690deg);
    animation-timing-function: linear;
  }
  70% {
    transform: rotate(815deg);
    opacity: 1;
    animation-timing-function: ease-out;
  }
  75% {
    transform: rotate(945deg);
    animation-timing-function: ease-out;
  }
  76% {
    transform: rotate(945deg);
    opacity: 0;
  }
  100% {
    transform: rotate(945deg);
    opacity: 0;
  }
}

.windows-text {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "Segoe UI Light", "Segoe UI", "Open Sans", sans-serif;
  font-size: 20px;
}

.loading-text {
  line-height: 10px;
}

::-moz-selection {
  background: rgba(0, 0, 0, 0);
}
::selection {
  background: rgba(0, 0, 0, 0);
}

@media only screen and (max-width: 700px) {
  #tip {
    display: none;
  }
}
.credit:visited {
  color: white;
}
.credit {
  text-decoration: none;
  font-weight: bold;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 32px;
  height: 32px;
  opacity: 0.8;
}
.close:hover {
  opacity: 1;
  cursor: pointer;
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: rgb(255, 255, 255);
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.tip-box {
  max-width: 675px;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  background-color: rgb(96, 101, 111);
  font-size: 18px;
  position: relative;
  z-index: 100;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.39) !important;
}

.title-h2 {
  margin: 1rem;
  font-size: 26px;
}

.loader-div  {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
}
